<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="logfile"
            xsi:type="File"  
            layout="${time} ${level:upperCase=true} ${callsite:includeNamespace=false:includeSourcePath=false:methodName=false} ${message}"
            fileName="${basedir}/logs/${shortdate}.log" />

        <target name="jsonfile"
            xsi:type="File"
            fileName="${basedir}/logs/${shortdate}.json" >
                <layout xsi:type="JsonLayout"
                    includeEventProperties="Boolean">
                    <attribute name="time"
                        layout="${time}" />
                    <attribute name="level"
                        layout="${level:upperCase=true}"/>
                    <attribute name="logger"
                        layout="${logger}"/>
                    <attribute name="message"
                        layout="${message}" />
                    <attribute name="method"
                        layout="${callsite:includeSourcePath=false:className=false:includeNamespace=false}"/>
                    <attribute name="props"
                        layout="${all-event-properties}"/>
                </layout>
        </target>
    </targets>

    <rules>
        <logger name="Saritasa.JiraDayIssues.Infrastructure.*Repository"
            level="Info"
            writeTo="logfile" />
        <logger name="Saritasa.JiraDayIssues.*"
            level="Trace"
            writeTo="jsonfile"/>
    </rules>
</nlog>