<form href="@Url.Action("Upload", "OMDB")" method="post">
    <div asp-validation-summary="ModelOnly"/>
    <textarea name="ids" placeholder="comma-separated list of identifiers"></textarea>
    <button>Submit</button>
</form>
